USE [master]
GO
/****** Object:  Database [cozy-test]    Script Date: 15.05.2026 2:46:23 ******/
CREATE DATABASE [cozy-test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CozyTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CozyTest.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CozyTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CozyTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cozy-test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cozy-test]
GO
/****** Object:  User [part]    Script Date: 15.05.2026 2:46:23 ******/
CREATE USER [part] FOR LOGIN [part] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [part]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [part]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attempts]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attempts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Participant_ID] [int] NULL,
	[Test_ID] [int] NULL,
	[Started_At] [datetime] NULL,
	[Finished_At] [datetime] NULL,
	[Score] [int] NULL,
	[Status] [nvarchar](max) NULL,
	[AttemptNumber] [int] NULL,
	[CountQuestions] [int] NULL,
	[MarkLvl] [int] NULL,
 CONSTRAINT [PK_Attempts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Correspondences]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Correspondences](
	[Constant_ID] [int] NOT NULL,
	[Сorresponding_ID] [int] NOT NULL,
 CONSTRAINT [PK_Сorrespondences] PRIMARY KEY CLUSTERED 
(
	[Constant_ID] ASC,
	[Сorresponding_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Criteria]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Criteria](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Test_ID] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[MinPercent] [int] NULL,
	[IsActive] [bit] NULL,
	[OrderNumber] [int] NULL,
 CONSTRAINT [PK_Criteria] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curators]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curators](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[IsArchive] [bit] NOT NULL,
	[ParticipantProfile_ID] [int] NOT NULL,
 CONSTRAINT [PK_Teachers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curators_Participants]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curators_Participants](
	[Curator_ID] [int] NOT NULL,
	[Participant_ID] [int] NOT NULL,
 CONSTRAINT [PK_Curators_Participants] PRIMARY KEY CLUSTERED 
(
	[Curator_ID] ASC,
	[Participant_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curators_Tests]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curators_Tests](
	[Curators_ID] [int] NOT NULL,
	[Tests_ID] [int] NOT NULL,
 CONSTRAINT [PK_Curators_Tests] PRIMARY KEY CLUSTERED 
(
	[Curators_ID] ASC,
	[Tests_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_QuestionTypes]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_QuestionTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_QuestionType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_TestTypes]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_TestTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_TestType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Curator_ID] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups_Participants]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups_Participants](
	[Group_ID] [int] NOT NULL,
	[Participant_ID] [int] NOT NULL,
 CONSTRAINT [PK_Groups_Participants] PRIMARY KEY CLUSTERED 
(
	[Group_ID] ASC,
	[Participant_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Options]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Options](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Question_ID] [int] NULL,
	[Number] [int] NULL,
	[Text_Answer] [nvarchar](max) NULL,
	[IsCorrect] [bit] NULL,
	[IsImage] [bit] NULL,
 CONSTRAINT [PK_Options] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParticipantAnswers]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParticipantAnswers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Attempt_ID] [int] NOT NULL,
	[Question_ID] [int] NOT NULL,
	[ConstantOption_ID] [int] NOT NULL,
	[TextAnswer] [nvarchar](max) NULL,
	[Option_ID] [int] NOT NULL,
	[IsCorrect] [bit] NULL,
	[Answered_At] [datetime] NULL,
 CONSTRAINT [PK_ParticipantAnswers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participants]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participants](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Curator_Create_ID] [int] NULL,
	[IsArchive] [bit] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participants_Assigned_Tests]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participants_Assigned_Tests](
	[Participant_ID] [int] NOT NULL,
	[Test_ID] [int] NOT NULL,
	[Responsible_ID] [int] NOT NULL,
	[DateTimeAssigned] [datetime] NULL,
 CONSTRAINT [PK_Participants_Assigned_Tests] PRIMARY KEY CLUSTERED 
(
	[Participant_ID] ASC,
	[Test_ID] ASC,
	[Responsible_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participants_Favorite_Tests]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participants_Favorite_Tests](
	[Participant_ID] [int] NOT NULL,
	[Test_ID] [int] NOT NULL,
 CONSTRAINT [PK_Participants_Favorite_Tests] PRIMARY KEY CLUSTERED 
(
	[Participant_ID] ASC,
	[Test_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participants_Public_Tests]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participants_Public_Tests](
	[Participant_ID] [int] NOT NULL,
	[Test_ID] [int] NOT NULL,
	[Responsible_ID] [int] NOT NULL,
 CONSTRAINT [PK_Participants_Public_Tests] PRIMARY KEY CLUSTERED 
(
	[Participant_ID] ASC,
	[Test_ID] ASC,
	[Responsible_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Test_ID] [int] NULL,
	[NumberCreate] [int] NULL,
	[NumberActual] [int] NULL,
	[Text_Quest] [nvarchar](max) NULL,
	[Picture_Path] [nvarchar](max) NULL,
	[QuestionType_ID] [int] NULL,
	[Comments] [nvarchar](max) NULL,
	[Version] [int] NULL,
	[IsRandom] [bit] NULL,
	[IsArchive] [bit] NULL,
	[TimeCreate] [datetime] NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[DateTimeApplication] [datetime] NOT NULL,
	[Reviewer_ID] [int] NULL,
 CONSTRAINT [PK_Applications] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Topic_ID] [int] NOT NULL,
	[Curator_Create_ID] [int] NOT NULL,
	[Penalty_Max] [int] NOT NULL,
	[DateOfCreating] [datetime] NOT NULL,
	[TestType_ID] [int] NOT NULL,
	[TimeLimitSecond] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsArchive] [bit] NOT NULL,
	[MaxNumPassing] [int] NOT NULL,
	[IsShowNowAnswer] [bit] NULL,
	[IsRandom] [bit] NULL,
 CONSTRAINT [PK_Tests] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserActionLogs]    Script Date: 15.05.2026 2:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserActionLogs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TimeStamp] [datetime] NOT NULL,
	[WhoMade] [nchar](10) NULL,
	[LevelLog] [nvarchar](max) NOT NULL,
	[Object] [nchar](10) NULL,
	[Message] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attempts] ON 

INSERT [dbo].[Attempts] ([ID], [Participant_ID], [Test_ID], [Started_At], [Finished_At], [Score], [Status], [AttemptNumber], [CountQuestions], [MarkLvl]) VALUES (258, 47, 24, CAST(N'2026-05-15T02:05:33.677' AS DateTime), CAST(N'2026-05-15T02:06:33.873' AS DateTime), 7, N'Завершен', 1, 8, 5)
INSERT [dbo].[Attempts] ([ID], [Participant_ID], [Test_ID], [Started_At], [Finished_At], [Score], [Status], [AttemptNumber], [CountQuestions], [MarkLvl]) VALUES (259, 47, 20, CAST(N'2026-05-15T02:06:55.627' AS DateTime), CAST(N'2026-05-15T02:07:36.640' AS DateTime), 7, N'Завершен', 1, 8, 5)
INSERT [dbo].[Attempts] ([ID], [Participant_ID], [Test_ID], [Started_At], [Finished_At], [Score], [Status], [AttemptNumber], [CountQuestions], [MarkLvl]) VALUES (260, 47, 20, CAST(N'2026-05-15T02:07:45.070' AS DateTime), CAST(N'2026-05-15T02:08:01.137' AS DateTime), 4, N'Завершен', 2, 8, 3)
SET IDENTITY_INSERT [dbo].[Attempts] OFF
GO
INSERT [dbo].[Correspondences] ([Constant_ID], [Сorresponding_ID]) VALUES (2851, 2854)
INSERT [dbo].[Correspondences] ([Constant_ID], [Сorresponding_ID]) VALUES (2852, 2854)
INSERT [dbo].[Correspondences] ([Constant_ID], [Сorresponding_ID]) VALUES (2853, 2854)
GO
SET IDENTITY_INSERT [dbo].[Criteria] ON 

INSERT [dbo].[Criteria] ([ID], [Test_ID], [Name], [MinPercent], [IsActive], [OrderNumber]) VALUES (212, 16, N'5 (отлично)', 85, 1, 5)
INSERT [dbo].[Criteria] ([ID], [Test_ID], [Name], [MinPercent], [IsActive], [OrderNumber]) VALUES (213, 16, N'4 (хорошо)', 70, 1, 4)
INSERT [dbo].[Criteria] ([ID], [Test_ID], [Name], [MinPercent], [IsActive], [OrderNumber]) VALUES (214, 16, N'3 (удовлетворительно)', 50, 1, 3)
SET IDENTITY_INSERT [dbo].[Criteria] OFF
GO
SET IDENTITY_INSERT [dbo].[Curators] ON 

INSERT [dbo].[Curators] ([ID], [Name], [Login], [Password], [IsAdmin], [IsArchive], [ParticipantProfile_ID]) VALUES (14, N'Мезенцева Полина', N'1', N'1', 1, 0, 47)
INSERT [dbo].[Curators] ([ID], [Name], [Login], [Password], [IsAdmin], [IsArchive], [ParticipantProfile_ID]) VALUES (15, N'Зиновьева Кристина', N'2', N'2', 0, 0, 49)
INSERT [dbo].[Curators] ([ID], [Name], [Login], [Password], [IsAdmin], [IsArchive], [ParticipantProfile_ID]) VALUES (16, N'Зинченко Александр', N'3', N'3', 0, 0, 54)
SET IDENTITY_INSERT [dbo].[Curators] OFF
GO
INSERT [dbo].[Curators_Participants] ([Curator_ID], [Participant_ID]) VALUES (14, 47)
INSERT [dbo].[Curators_Participants] ([Curator_ID], [Participant_ID]) VALUES (14, 49)
INSERT [dbo].[Curators_Participants] ([Curator_ID], [Participant_ID]) VALUES (14, 51)
GO
SET IDENTITY_INSERT [dbo].[D_QuestionTypes] ON 

INSERT [dbo].[D_QuestionTypes] ([ID], [Name]) VALUES (1, N'Варианты ответов (текстовые, фото) + по желанию основное фото')
INSERT [dbo].[D_QuestionTypes] ([ID], [Name]) VALUES (2, N'Текстовый ответ тестируемого')
INSERT [dbo].[D_QuestionTypes] ([ID], [Name]) VALUES (3, N'. . .')
SET IDENTITY_INSERT [dbo].[D_QuestionTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[D_TestTypes] ON 

INSERT [dbo].[D_TestTypes] ([ID], [Name], [Description]) VALUES (1, N'Тест', N'Тест с указанием вариантов ответов, среди которых есть правильные и неправильные')
INSERT [dbo].[D_TestTypes] ([ID], [Name], [Description]) VALUES (2, N'Опросник', N'Опрос участников с вариантами ответов, которые участник может выбрать, нет правильных и неправильных. Пригодится для статистик')
SET IDENTITY_INSERT [dbo].[D_TestTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([ID], [Name], [Curator_ID], [Description]) VALUES (6, N'Класс 7А', 14, NULL)
INSERT [dbo].[Groups] ([ID], [Name], [Curator_ID], [Description]) VALUES (7, N'Класс 7Б', 14, NULL)
INSERT [dbo].[Groups] ([ID], [Name], [Curator_ID], [Description]) VALUES (8, N'Контрольная 7 класс', 14, NULL)
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
INSERT [dbo].[Groups_Participants] ([Group_ID], [Participant_ID]) VALUES (6, 55)
INSERT [dbo].[Groups_Participants] ([Group_ID], [Participant_ID]) VALUES (6, 56)
INSERT [dbo].[Groups_Participants] ([Group_ID], [Participant_ID]) VALUES (6, 57)
GO
SET IDENTITY_INSERT [dbo].[Options] ON 

INSERT [dbo].[Options] ([ID], [Question_ID], [Number], [Text_Answer], [IsCorrect], [IsImage]) VALUES (0, 0, 0, N'1', 1, 1)
INSERT [dbo].[Options] ([ID], [Question_ID], [Number], [Text_Answer], [IsCorrect], [IsImage]) VALUES (2826, 805, 1, N'A) Через личный кабинет Госуслуг сотрудника', 1, 0)
INSERT [dbo].[Options] ([ID], [Question_ID], [Number], [Text_Answer], [IsCorrect], [IsImage]) VALUES (2827, 805, 2, N'B) Через УЦ → регистрация в реестре → добавление в профиль организации', 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Options] OFF
GO
SET IDENTITY_INSERT [dbo].[ParticipantAnswers] ON 

INSERT [dbo].[ParticipantAnswers] ([ID], [Attempt_ID], [Question_ID], [ConstantOption_ID], [TextAnswer], [Option_ID], [IsCorrect], [Answered_At]) VALUES (557, 258, 868, 0, NULL, 3062, 1, CAST(N'2026-05-15T02:05:35.493' AS DateTime))
INSERT [dbo].[ParticipantAnswers] ([ID], [Attempt_ID], [Question_ID], [ConstantOption_ID], [TextAnswer], [Option_ID], [IsCorrect], [Answered_At]) VALUES (558, 258, 869, 0, NULL, 3067, 0, CAST(N'2026-05-15T02:05:38.050' AS DateTime))
INSERT [dbo].[ParticipantAnswers] ([ID], [Attempt_ID], [Question_ID], [ConstantOption_ID], [TextAnswer], [Option_ID], [IsCorrect], [Answered_At]) VALUES (559, 258, 870, 0, NULL, 3070, 1, CAST(N'2026-05-15T02:05:42.103' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ParticipantAnswers] OFF
GO
SET IDENTITY_INSERT [dbo].[Participants] ON 

INSERT [dbo].[Participants] ([ID], [Name], [Login], [Password], [Curator_Create_ID], [IsArchive]) VALUES (47, N'Мезенцева Полина(Т)', N'1_p', N'1', NULL, 0)
INSERT [dbo].[Participants] ([ID], [Name], [Login], [Password], [Curator_Create_ID], [IsArchive]) VALUES (48, N'Кирьянова Валерия', N'qwe', N'qwe', 14, 0)
INSERT [dbo].[Participants] ([ID], [Name], [Login], [Password], [Curator_Create_ID], [IsArchive]) VALUES (49, N'Зиновьева Кристина(Т)', N'2_p', N'2', 14, 0)
SET IDENTITY_INSERT [dbo].[Participants] OFF
GO
INSERT [dbo].[Participants_Assigned_Tests] ([Participant_ID], [Test_ID], [Responsible_ID], [DateTimeAssigned]) VALUES (47, 17, 14, CAST(N'2026-05-21T00:00:00.000' AS DateTime))
INSERT [dbo].[Participants_Assigned_Tests] ([Participant_ID], [Test_ID], [Responsible_ID], [DateTimeAssigned]) VALUES (48, 17, 14, CAST(N'2026-05-21T00:00:00.000' AS DateTime))
INSERT [dbo].[Participants_Assigned_Tests] ([Participant_ID], [Test_ID], [Responsible_ID], [DateTimeAssigned]) VALUES (48, 21, 14, CAST(N'2026-05-15T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Participants_Favorite_Tests] ([Participant_ID], [Test_ID]) VALUES (47, 19)
INSERT [dbo].[Participants_Favorite_Tests] ([Participant_ID], [Test_ID]) VALUES (51, 19)
INSERT [dbo].[Participants_Favorite_Tests] ([Participant_ID], [Test_ID]) VALUES (53, 17)
GO
INSERT [dbo].[Participants_Public_Tests] ([Participant_ID], [Test_ID], [Responsible_ID]) VALUES (47, 19, 14)
INSERT [dbo].[Participants_Public_Tests] ([Participant_ID], [Test_ID], [Responsible_ID]) VALUES (47, 20, 14)
INSERT [dbo].[Participants_Public_Tests] ([Participant_ID], [Test_ID], [Responsible_ID]) VALUES (47, 24, 14)
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([ID], [Test_ID], [NumberCreate], [NumberActual], [Text_Quest], [Picture_Path], [QuestionType_ID], [Comments], [Version], [IsRandom], [IsArchive], [TimeCreate]) VALUES (0, 0, 0, 0, N'0', N'0', 1, N'0', 0, 0, 0, CAST(N'2026-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Questions] ([ID], [Test_ID], [NumberCreate], [NumberActual], [Text_Quest], [Picture_Path], [QuestionType_ID], [Comments], [Version], [IsRandom], [IsArchive], [TimeCreate]) VALUES (805, 16, 1, 1, N'Djghjcjd 45', NULL, 1, NULL, 0, NULL, NULL, CAST(N'2026-05-15T01:39:02.980' AS DateTime))
INSERT [dbo].[Questions] ([ID], [Test_ID], [NumberCreate], [NumberActual], [Text_Quest], [Picture_Path], [QuestionType_ID], [Comments], [Version], [IsRandom], [IsArchive], [TimeCreate]) VALUES (806, 16, 2, 2, N'Fkjfkj ghbdtnvrfr ltkf?', NULL, 1, NULL, 0, NULL, NULL, CAST(N'2026-05-15T01:39:03.013' AS DateTime))
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Requests] ON 

INSERT [dbo].[Requests] ([ID], [Name], [Login], [Password], [Status], [DateTimeApplication], [Reviewer_ID]) VALUES (6, N'Харитонова Анна', N'112233', N'112233', N'Ожидает подтверждения', CAST(N'2026-05-15T01:20:54.537' AS DateTime), NULL)
INSERT [dbo].[Requests] ([ID], [Name], [Login], [Password], [Status], [DateTimeApplication], [Reviewer_ID]) VALUES (7, N'Борисов Илья', N'borisov666', N'borisov666', N'Принята', CAST(N'2026-05-15T01:21:50.823' AS DateTime), 14)
INSERT [dbo].[Requests] ([ID], [Name], [Login], [Password], [Status], [DateTimeApplication], [Reviewer_ID]) VALUES (8, N'Доримова Софья', N'0504433', N'0504433', N'Отклонена', CAST(N'2026-05-15T01:22:36.863' AS DateTime), 14)
SET IDENTITY_INSERT [dbo].[Requests] OFF
GO
SET IDENTITY_INSERT [dbo].[Tests] ON 

INSERT [dbo].[Tests] ([ID], [Name], [Topic_ID], [Curator_Create_ID], [Penalty_Max], [DateOfCreating], [TestType_ID], [TimeLimitSecond], [Description], [IsArchive], [MaxNumPassing], [IsShowNowAnswer], [IsRandom]) VALUES (0, N'default', 1, 14, 1, CAST(N'2026-01-01T00:00:00.000' AS DateTime), 1, 1, N'1', 1, 1, 1, 1)
INSERT [dbo].[Tests] ([ID], [Name], [Topic_ID], [Curator_Create_ID], [Penalty_Max], [DateOfCreating], [TestType_ID], [TimeLimitSecond], [Description], [IsArchive], [MaxNumPassing], [IsShowNowAnswer], [IsRandom]) VALUES (16, N'MyTestik007', 9, 14, 8, CAST(N'2026-05-15T01:39:02.933' AS DateTime), 1, 111, N'Импортировано из Excel: Testic.xlsx', 0, 100, NULL, 0)
INSERT [dbo].[Tests] ([ID], [Name], [Topic_ID], [Curator_Create_ID], [Penalty_Max], [DateOfCreating], [TestType_ID], [TimeLimitSecond], [Description], [IsArchive], [MaxNumPassing], [IsShowNowAnswer], [IsRandom]) VALUES (17, N'Деепричастия', 7, 14, 3, CAST(N'2026-05-15T01:46:13.167' AS DateTime), 1, 400, N'Для 7 классов', 0, 4, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Tests] OFF
GO
SET IDENTITY_INSERT [dbo].[Topics] ON 

INSERT [dbo].[Topics] ([ID], [Name]) VALUES (1, N'Создание')
INSERT [dbo].[Topics] ([ID], [Name]) VALUES (7, N'Русский язык')
INSERT [dbo].[Topics] ([ID], [Name]) VALUES (8, N'Математика')
SET IDENTITY_INSERT [dbo].[Topics] OFF
GO
ALTER TABLE [dbo].[Options] ADD  CONSTRAINT [DF_Options_IsCorrect]  DEFAULT ((0)) FOR [IsCorrect]
GO
ALTER TABLE [dbo].[Participants] ADD  CONSTRAINT [DF_Participants_IsArchive]  DEFAULT ((0)) FOR [IsArchive]
GO
ALTER TABLE [dbo].[Attempts]  WITH CHECK ADD  CONSTRAINT [FK_Attempts_Participants] FOREIGN KEY([Participant_ID])
REFERENCES [dbo].[Participants] ([ID])
GO
ALTER TABLE [dbo].[Attempts] CHECK CONSTRAINT [FK_Attempts_Participants]
GO
ALTER TABLE [dbo].[Attempts]  WITH CHECK ADD  CONSTRAINT [FK_Attempts_Tests] FOREIGN KEY([Test_ID])
REFERENCES [dbo].[Tests] ([ID])
GO
ALTER TABLE [dbo].[Attempts] CHECK CONSTRAINT [FK_Attempts_Tests]
GO
ALTER TABLE [dbo].[Correspondences]  WITH CHECK ADD  CONSTRAINT [FK_Сorrespondences_Options] FOREIGN KEY([Constant_ID])
REFERENCES [dbo].[Options] ([ID])
GO
ALTER TABLE [dbo].[Correspondences] CHECK CONSTRAINT [FK_Сorrespondences_Options]
GO
ALTER TABLE [dbo].[Correspondences]  WITH CHECK ADD  CONSTRAINT [FK_Сorrespondences_Options1] FOREIGN KEY([Сorresponding_ID])
REFERENCES [dbo].[Options] ([ID])
GO
ALTER TABLE [dbo].[Correspondences] CHECK CONSTRAINT [FK_Сorrespondences_Options1]
GO
ALTER TABLE [dbo].[Criteria]  WITH CHECK ADD  CONSTRAINT [FK_Criteria_Tests] FOREIGN KEY([Test_ID])
REFERENCES [dbo].[Tests] ([ID])
GO
ALTER TABLE [dbo].[Criteria] CHECK CONSTRAINT [FK_Criteria_Tests]
GO
ALTER TABLE [dbo].[Curators]  WITH CHECK ADD  CONSTRAINT [FK_Curators_Participants] FOREIGN KEY([ParticipantProfile_ID])
REFERENCES [dbo].[Participants] ([ID])
GO
ALTER TABLE [dbo].[Curators] CHECK CONSTRAINT [FK_Curators_Participants]
GO
ALTER TABLE [dbo].[Curators_Participants]  WITH CHECK ADD  CONSTRAINT [FK_Curators_Participants_Curators] FOREIGN KEY([Curator_ID])
REFERENCES [dbo].[Curators] ([ID])
GO
ALTER TABLE [dbo].[Curators_Participants] CHECK CONSTRAINT [FK_Curators_Participants_Curators]
GO
ALTER TABLE [dbo].[Curators_Participants]  WITH CHECK ADD  CONSTRAINT [FK_Curators_Participants_Participants] FOREIGN KEY([Participant_ID])
REFERENCES [dbo].[Participants] ([ID])
GO
ALTER TABLE [dbo].[Curators_Participants] CHECK CONSTRAINT [FK_Curators_Participants_Participants]
GO
ALTER TABLE [dbo].[Curators_Tests]  WITH CHECK ADD  CONSTRAINT [FK_Curators_Tests_Curators] FOREIGN KEY([Curators_ID])
REFERENCES [dbo].[Curators] ([ID])
GO
ALTER TABLE [dbo].[Curators_Tests] CHECK CONSTRAINT [FK_Curators_Tests_Curators]
GO
ALTER TABLE [dbo].[Curators_Tests]  WITH CHECK ADD  CONSTRAINT [FK_Curators_Tests_Tests] FOREIGN KEY([Tests_ID])
REFERENCES [dbo].[Tests] ([ID])
GO
ALTER TABLE [dbo].[Curators_Tests] CHECK CONSTRAINT [FK_Curators_Tests_Tests]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Curators] FOREIGN KEY([Curator_ID])
REFERENCES [dbo].[Curators] ([ID])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Curators]
GO
ALTER TABLE [dbo].[Groups_Participants]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Participants_Groups] FOREIGN KEY([Group_ID])
REFERENCES [dbo].[Groups] ([ID])
GO
ALTER TABLE [dbo].[Groups_Participants] CHECK CONSTRAINT [FK_Groups_Participants_Groups]
GO
ALTER TABLE [dbo].[Groups_Participants]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Participants_Participants] FOREIGN KEY([Participant_ID])
REFERENCES [dbo].[Participants] ([ID])
GO
ALTER TABLE [dbo].[Groups_Participants] CHECK CONSTRAINT [FK_Groups_Participants_Participants]
GO
ALTER TABLE [dbo].[Options]  WITH CHECK ADD  CONSTRAINT [FK_Options_Questions] FOREIGN KEY([Question_ID])
REFERENCES [dbo].[Questions] ([ID])
GO
ALTER TABLE [dbo].[Options] CHECK CONSTRAINT [FK_Options_Questions]
GO
ALTER TABLE [dbo].[ParticipantAnswers]  WITH CHECK ADD  CONSTRAINT [FK_ParticipantAnswers_Attempts] FOREIGN KEY([Attempt_ID])
REFERENCES [dbo].[Attempts] ([ID])
GO
ALTER TABLE [dbo].[ParticipantAnswers] CHECK CONSTRAINT [FK_ParticipantAnswers_Attempts]
GO
ALTER TABLE [dbo].[ParticipantAnswers]  WITH CHECK ADD  CONSTRAINT [FK_ParticipantAnswers_Options] FOREIGN KEY([Option_ID])
REFERENCES [dbo].[Options] ([ID])
GO
ALTER TABLE [dbo].[ParticipantAnswers] CHECK CONSTRAINT [FK_ParticipantAnswers_Options]
GO
ALTER TABLE [dbo].[ParticipantAnswers]  WITH CHECK ADD  CONSTRAINT [FK_ParticipantAnswers_Questions] FOREIGN KEY([Question_ID])
REFERENCES [dbo].[Questions] ([ID])
GO
ALTER TABLE [dbo].[ParticipantAnswers] CHECK CONSTRAINT [FK_ParticipantAnswers_Questions]
GO
ALTER TABLE [dbo].[Participants]  WITH CHECK ADD  CONSTRAINT [FK_Participants_Curators1] FOREIGN KEY([Curator_Create_ID])
REFERENCES [dbo].[Curators] ([ID])
GO
ALTER TABLE [dbo].[Participants] CHECK CONSTRAINT [FK_Participants_Curators1]
GO
ALTER TABLE [dbo].[Participants_Assigned_Tests]  WITH CHECK ADD  CONSTRAINT [FK_Participants_Assigned_Tests_Curators] FOREIGN KEY([Responsible_ID])
REFERENCES [dbo].[Curators] ([ID])
GO
ALTER TABLE [dbo].[Participants_Assigned_Tests] CHECK CONSTRAINT [FK_Participants_Assigned_Tests_Curators]
GO
ALTER TABLE [dbo].[Participants_Assigned_Tests]  WITH CHECK ADD  CONSTRAINT [FK_Participants_Assigned_Tests_Participants] FOREIGN KEY([Participant_ID])
REFERENCES [dbo].[Participants] ([ID])
GO
ALTER TABLE [dbo].[Participants_Assigned_Tests] CHECK CONSTRAINT [FK_Participants_Assigned_Tests_Participants]
GO
ALTER TABLE [dbo].[Participants_Assigned_Tests]  WITH CHECK ADD  CONSTRAINT [FK_Participants_Assigned_Tests_Tests] FOREIGN KEY([Test_ID])
REFERENCES [dbo].[Tests] ([ID])
GO
ALTER TABLE [dbo].[Participants_Assigned_Tests] CHECK CONSTRAINT [FK_Participants_Assigned_Tests_Tests]
GO
ALTER TABLE [dbo].[Participants_Favorite_Tests]  WITH CHECK ADD  CONSTRAINT [FK_Participants_Favorite_Tests_Participants] FOREIGN KEY([Participant_ID])
REFERENCES [dbo].[Participants] ([ID])
GO
ALTER TABLE [dbo].[Participants_Favorite_Tests] CHECK CONSTRAINT [FK_Participants_Favorite_Tests_Participants]
GO
ALTER TABLE [dbo].[Participants_Favorite_Tests]  WITH CHECK ADD  CONSTRAINT [FK_Participants_Favorite_Tests_Tests] FOREIGN KEY([Test_ID])
REFERENCES [dbo].[Tests] ([ID])
GO
ALTER TABLE [dbo].[Participants_Favorite_Tests] CHECK CONSTRAINT [FK_Participants_Favorite_Tests_Tests]
GO
ALTER TABLE [dbo].[Participants_Public_Tests]  WITH CHECK ADD  CONSTRAINT [FK_Participants_Public_Tests_Curators] FOREIGN KEY([Responsible_ID])
REFERENCES [dbo].[Curators] ([ID])
GO
ALTER TABLE [dbo].[Participants_Public_Tests] CHECK CONSTRAINT [FK_Participants_Public_Tests_Curators]
GO
ALTER TABLE [dbo].[Participants_Public_Tests]  WITH CHECK ADD  CONSTRAINT [FK_Participants_Public_Tests_Participants] FOREIGN KEY([Participant_ID])
REFERENCES [dbo].[Participants] ([ID])
GO
ALTER TABLE [dbo].[Participants_Public_Tests] CHECK CONSTRAINT [FK_Participants_Public_Tests_Participants]
GO
ALTER TABLE [dbo].[Participants_Public_Tests]  WITH CHECK ADD  CONSTRAINT [FK_Participants_Public_Tests_Tests] FOREIGN KEY([Test_ID])
REFERENCES [dbo].[Tests] ([ID])
GO
ALTER TABLE [dbo].[Participants_Public_Tests] CHECK CONSTRAINT [FK_Participants_Public_Tests_Tests]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_D_QuestionTypes] FOREIGN KEY([QuestionType_ID])
REFERENCES [dbo].[D_QuestionTypes] ([ID])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_D_QuestionTypes]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Tests] FOREIGN KEY([Test_ID])
REFERENCES [dbo].[Tests] ([ID])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Tests]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Curators] FOREIGN KEY([Reviewer_ID])
REFERENCES [dbo].[Curators] ([ID])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Applications_Curators]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_Curators] FOREIGN KEY([Curator_Create_ID])
REFERENCES [dbo].[Curators] ([ID])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_Curators]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_D_TestTypes] FOREIGN KEY([TestType_ID])
REFERENCES [dbo].[D_TestTypes] ([ID])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_D_TestTypes]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_Topics] FOREIGN KEY([Topic_ID])
REFERENCES [dbo].[Topics] ([ID])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_Topics]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Картинка + один ответ
Много картинок + много ответов
Картинка + много ответов' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'D_QuestionTypes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Тест, опросник' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'D_TestTypes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Темы тестов' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Topics'
GO
USE [master]
GO
