<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="CozyTestDB"
			 connectionString="Server=HOME-PC;Database=cozy-test;Trusted_Connection=True;TrustServerCertificate=True;MultipleActiveResultSets=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>